img {
  width: 30%;
}
#root {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.divPush {
  border: 1px solid rgb(188, 188, 188);
  /* width: 20%; */
  text-align: center;
  padding: 2%;
}
